/* #region BASE STYLES */
body {
  background-color: var(--color-background);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#hero-index {
  width: 90%;
  margin-top: 25rem;
  background-color: var(--color-primary);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow-section);
}
/* #endregion */

/* #region HERO SECTION */
#welcoming {
  padding: var(--padding-content);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#welcoming p {
  font-size: var(--font-size-s);
  color: var(--color-text);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text);
}
/* #endregion */

/* #region VIDEO SECTION */
#video-section {
  position: relative;
  width: 100%;
}

#video-hero {
  width: 100%;
  object-fit: cover;
  height: 40vw;
}

.video-content {
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-content);
}

.video-text {
  display: flex;
  flex-direction: column;
}

.video-small,
.video-large {
  font-family: var(--font-family-text);
  text-wrap: nowrap;
}

.video-small {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 500;
  color: var(--color-text-light);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.video-large {
  font-size: clamp(6rem, 6vw, 9rem);
  font-weight: 900;
  color: var(--color-accent);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* #endregion */

/* #region VIDEO BUTTONS */
.video-buttons {
  display: flex;
  align-self: flex-end;
  gap: 1rem;
}

.video-button {
  display: inline-block;
  padding: 1.2rem 3rem;
  font-size: var(--font-size-s);
  color: var(--color-text-light);
  border: 2px solid var(--color-text-light);
  text-decoration: none;
  margin: 0 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: var(--font-family-text);
  border-radius: 40px;
  text-wrap: nowrap;
}

.video-button:hover {
  background-color: var(--color-accent);
  transform: scale(1.05);
  border-color: var(--color-text);
  color: var(--color-text);
}
/* #endregion */

/* #region SPOT BUTTON */
#spot {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  padding: 0 8rem 3rem 2rem;
}

#spot p {
  color: var(--color-secondary);
  font-family: var(--font-family-text);
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 600;
}

.spot-button {
  font-family: var(--font-family-logo);
  font-size: clamp(2rem, 3vw, 4rem);
  background-color: var(--color-button);
  color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  margin-left: 1rem;
}

.spot-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  filter: brightness(110%);
  scale: 1.02;
}
/* #endregion */

/* #region HIGHLIGHTS SECTION */
#highlights {
  width: 90%;
  height: auto;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  box-shadow: var(--box-shadow-section);
}

#highlights h2 {
  font-size: clamp(4rem, 3.5vw, 3rem);
  font-family: var(--font-family-text);
  font-weight: 500;
  color: var(--color-text-light);
  padding-bottom: 3rem;
}

#highlights p {
  font-size: var(--font-size-p);
  color: var(--color-text);
  font-family: var(--font-family-text);
  margin-bottom: 3rem;
  font-weight: var(--font-weight-text);
  text-align: center;
}

#shortcuts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.shortcut {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.svg-shortcut {
  display: block;
  cursor: pointer;
}
/* #endregion */
