:root {
  /* Base colors */
  --color-primary: #ffa2c8;
  --color-secondary: #ffe6eb;
  --color-accent: #ffa2c8;
  --color-background: #ffe6eb;
  --color-button: #ff63a3;
  --color-text: #d63384;

  --color-text-light: #ffe6eb;
  --color-border: #ffff;

  /* Font types */
  --font-family-logo: "Monoton", serif;
  --font-family-text: "Roboto Slab";
  --font-family-mono: "Courier New", monospace;

  /* Border sections */
  --border-width: 30px 30px 30px 30px;
  --border-style: solid;
  --border-color: #ffff;
  --border-radius: 0;

  --box-shadow-section: 0 4px 8px rgba(0, 0, 0, 0.1);

  --font-weight-text: 350;
  --font-size-s: clamp(1.5rem, 3vw, 3rem);

  /*   border-width: var(--border-width-upper);
  border-style: var(--border-style);
  border-color: var(--border-color); */

  --title-section-p: clamp(2rem, 2vw, 3rem);

  --font-size-small: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-xl: 2rem; /* 32px */

  /* Typografi */
  --font-size-h1: clamp(
    3rem,
    5vw,
    8rem
  ); /* Min 3rem, växer responsivt, Max 5rem */
  --font-size-h2: clamp(
    4rem,
    3.5vw,
    3rem
  ); /* Min 2rem, växer responsivt, Max 3rem */
  --font-size-h3: clamp(
    1.5rem,
    2.5vw,
    2.5rem
  ); /* Min 1.5rem, växer responsivt, Max 2.5rem */
  --font-size-h4: clamp(
    1.25rem,
    2vw,
    2rem
  ); /* Min 1.25rem, växer responsivt, Max 2rem */
  --font-size-p: clamp(
    2rem,
    2vw,
    3rem
  ); /* Min 1rem, växer responsivt, Max 1.25rem */
  --line-height-base: 1.5;

  /* Spacing (Padding och Margins) */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */

  /* Border och skuggor */
  --border-radius: 4px;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  /* Övergångar */
  --transition-duration: 0.3s;
  --transition-easing: ease-in-out;

  /* index */
  --padding-content: 3rem 3rem;
}
