:root {
  /* Base colors */
  --color-primary: #ffa2c8;
  --color-secondary: #ffe6eb;
  --color-accent: #ffa2c8;
  --color-background: #ffe6eb;
  --color-button: #ff63a3;
  --color-text: #d63384;
  --color-text-light: #ffe6eb;
  --color-border: #ffff;

  /* Font types */
  --font-family-logo: "Monoton", serif;
  --font-family-text: "Roboto Slab";
  --font-weight-text: 350;

  /* Border styles */
  --border-width: 30px 30px 30px 30px;
  --border-style: solid;
  --border-color: #ffff;
  --border-radius: 4px;

  /* Shadows */
  --box-shadow-section: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  /* Index */
  --padding-content: 3rem 3rem;
}
