<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smooth Motel</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/index.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <!-- Boka sektion -->
      <section id="booking">
        <a href="/rooms.php" class="paw-header">
          <object type="image/svg+xml" data="/svg/paw.svg"></object>
          <h3>Book Here</h3>
        </a>
      </section>

      <!-- Introduktion -->
      <section id="intro">
        <h1>Smooth Motel</h1>
        <p>Smooth vibes, Snoop style.</p>
      </section>

      <!-- Navigering -->
      <nav id="main-navigation">
        <ul>
          <li><a href="index.php">Home</a></li>
          <li><a href="about.php">About</a></li>
          <li><a href="contact.php">Contact</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
