/* #region ROOM DISPLAY */
#rooms-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 30px;
}

.room {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
}

.room-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.room img {
  width: 90%;
  display: block;
  object-fit: cover;
  height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 3rem;
}

.room h2 {
  padding: 8px 12px;
  display: flex;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 350;
  color: var(--color-text);
  font-family: var(--font-family-text);
  align-items: center;
  justify-content: center;
  height: 6rem;
  border-radius: 10px;
  border-width: 5px;
  border-style: var(--border-style);
  border-color: var(--border-color);
  margin-left: 3rem;
}

.room-details p {
  padding: 8px 12px;
  display: flex;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 350;
  color: var(--color-text);
  font-family: var(--font-family-text);
  align-items: center;
  justify-content: center;
  height: 6rem;
  border-radius: 10px;
  border-width: 5px;
  border-style: var(--border-style);
  border-color: var(--border-color);
  margin-left: 3rem;
}

.room-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
  margin: 5rem 5rem;
}

.room-info h3 {
  font-size: 5rem;
  font-family: var(--font-family-text);
  font-weight: 500;
  color: var(--color-text-light);
  position: relative;
  margin: 20px 0; /* Mellanrum ovanför och nedanför texten */
}

.room-info h3::before {
  content: "";
  position: absolute;
  top: -40px; /* Justera avståndet från texten */
  left: 0;
  width: 100%; /* Bredd på linjen */
  height: 5px; /* Tjocklek på linjen */
  background-color: #ffe6eb; /* Färg på linjen */
}

.room-text {
  text-align: center;
}

.room-text p {
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: var(--color-text);
  font-family: var(--font-family-text);
  margin-bottom: 3rem;
  font-weight: 350;
}

.room-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.room-info li {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 350;
  color: var(--color-text);
  font-family: var(--font-family-text);
  margin: 5px;
  padding: 12px 24px;
  position: relative;
  border-radius: 10px;
  border-width: 5px;
  border-style: var(--border-style);
  border-color: var(--border-color);
  text-wrap: nowrap;
}
